<div class="col-xs-12" *ngIf="itens.length === 0">
  <p>
    Não há itens no carrinho. <a [routerLink]="['/restaurants']">Adicionar</a>
  </p>
</div>

<div class="col-xs-12 table-responsive" *ngIf="itens.length">

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="text-center">Quantidade</th>
      <th>Item</th>
      <th>Descrição</th>
      <th class="text-right">Subtotal</th>
      <th class="text-right"></th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of itens">
        <td class="text-center">
          <a (click)="emitdereaseQty(i)" class="btn btn-sm"><i class="fa fa-minus"></i></a>
          {{i.quantity}}
          <a (click)="emitIncreaseQty(i)" class="btn btn-sm"><i class="fa fa-plus"></i></a>
        </td>
        <td>{{i.menuItem.name}}</td>

        <td>{{i.menuItem.description}}</td>
        <td class="text-right">{{i.value() | currency: 'BRL': 'true'}}</td>
        <td class="text-right">
          <a (click)="emitRemove(i)" class="btn btn-sm danger"><i class="fa fa-remove"></i></a>
        </td>
      </tr>


    </tbody>
  </table>
</div>
